@import "components/__components";
@import "pages/__pages";

body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}